* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f0f0f, #3a3a3a);
    color: #fff;
}


.calculator {
    padding: 24px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}


input {
    width: 320px;
    border: none;
    padding: 25px 20px;
    margin-bottom: 15px;
    font-size: 42px;
    text-align: right;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 12px;
    outline: none;
    color: #fff;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.35);
}

input::placeholder {
    color: #dcdcdc;
}

button {
    width: 65px;
    height: 65px;
    margin: 12px;
    border-radius: 50%;
    border: none;
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.15s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.35);
}

button:active {
    transform: scale(0.92);
    box-shadow: none;
}


.operator {
    color: #00eaff;
}


.equalBtn {
    background-color: #fb7c14;
    color: #fff;
    box-shadow: 0 4px 18px rgba(251, 124, 20, 0.5);
}
